.container__card {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 550px;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0px 5px 31px 0px hsl(220deg 15% 59%);
}

.container__qr__code {
  display: flex;
  width: 90%;
  height: auto;
  margin: 18px auto;
}

.image__qr__code {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 314px;
  border-radius: 12px;
}

.title__label {
  display: flex;
  width: 81%;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.3;
  color: hsl(218, 44%, 22%);
}


.description__label {
  display: flex;
  text-align: center;
  font-size: 17px;
  width: 80%;
  margin: 5px auto;
  line-height: 1.2;
  color: hsl(220, 15%, 55%);
}


@media screen and (max-width: 450px) {
  .container__card {
    align-items: initial;
    height: auto;
  }

  .image__qr__code {
    height: 100%;
  }

  .card {
    width: 95%;
    margin: 10px auto;
    height: auto;
  }

  .description__label {
    margin: 5px auto 20px auto;
  }
}
